<div class="container">
  <nav class="clearfix">
    <%= link_to "< prev", gif_path(@gif.prev), class: 'left' %>
    <%= link_to "all", gifs_path %>
    <%= link_to "next >", gif_path(@gif.next), class: 'right' %>
  </nav>

  <div class="gif">
    <%= link_to @gif.url do %>
      <%= image_tag @gif.url %>
    <% end %>
  </div>

  <div class="tags">
    <%= form_tag gif_tags_path(@gif), method: "post" do %>
      <%= text_field_tag :tag, nil, placeholder: "tag..." %>
    <% end %>

    <table>
      <% @gif.tags.each do |tag| %>
        <tr>
          <th class="ljust"><%= link_to tag.text, '#' %></th>
          <td class="rjust"><%= link_to 'remove', gif_tag_path(@gif, tag), method: :delete %></td>
        </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script>
  $(document).keydown(function(e) {
    // Something has focus. Input, anchor, etc.
    if ($(':focus').length) return;

    switch(e.which) {
      case 37: // left
      window.location.href = "<%= gif_path(@gif.prev) %>";
      e.preventDefault();
      break;

      case 39: // right
      window.location.href = "<%= gif_path(@gif.next) %>";
      e.preventDefault();
      break;

      default: return;
    }
  });
</script>

